img {
  padding-left: 100pt;
  height: 400pt;
  width: 600pt;
}

.container {
  position: relative;

  text-align: center;
  text-shadow: 10px;
  color: rgb(255, 255, 255);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  padding-top: 200pt;
  text-indent: 100pt;
  color: black;
}

form {
  padding-top: 200pt;
}

body{
  padding-top: 200pt;
  padding-left: 400pt;
}
